.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.poke-description {
    white-space: pre-wrap;
    word-break: keep-all;
    overflow-y: scroll;
}

.box {
    overflow-y: auto;
}

.custom-dashboard-body {
    max-height: calc(100vh - 80px);
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-color: #f8f9fa;
}

.poke-well-panel {
    background-color: #0C134F;
}

.poke-name {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}