@font-face {
    font-family: 'HappySchool';
    src: url("fonts/Happy School.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SimpleTfb';
    src: url("fonts/Simple tfb.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeometrySoft';
    src: url("fonts/Geometry\ Soft\ Pro-Bold\ N.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TypoGraphica';
    src: url("fonts/TypoGraphica_demo.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RowdyLight';
    src: url("fonts/Rowdy-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'RowdyLight', sans-serif;
}


.skin-black .main-header .logo .logo-text {
    font-family: 'RowdyLight', sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.poke-description {
    white-space: pre-wrap;
    word-break: keep-all;
    overflow-y: scroll;
}

.box {
    overflow-y: auto
}

.box-title {
    font-family: 'RowdyLight', sans-serif;
}

.custom-dashboard-body {
    max-height: calc(100vh - 80px);
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background-color: #f8f9fa;
}

.poke-well-panel {
    background-color: #0C134F;
}

.poke-name {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}